// section video
:root {
  --aside-width: 220px;
}

.vertical-line {
  width: var(--aside-width);
  height: 100vh;
  background-color: #293133;
  position: fixed;
  z-index: -1;
  left: calc((100% - 1200px) / 2 + 15px);
  top: 0;
  @media (max-width: 1200px) {
    left: 15px;
  }
}


.player {
  --video-width: 80%;
  --video-margin: calc((100% - var(--video-width)) / 2);

  &__container {
    position: relative;
  }

  &__back.button {
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 0 5px;
  }

  &__video {
    width: var(--video-width);
    display: block;
    margin: 30px auto;
    max-height: 500px;
    background: black;
  }

  &-info {
    width: calc(var(--video-width) + var(--video-margin));
    display: flex;
    align-items: start;

    &__btns {
      width: var(--aside-width);
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;
      padding: 0 10px;
      flex-shrink: 0;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;

      &--label {
        width: 100%;
        color: #fff;
      }

      &--desc {
        text-align: center;
        font-size: 10px;
        color: #ccc;
      }
    }

    &__wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 15px;
    }

    &__status {
      width: 100%;
      position: relative;
      font-size: 16px;
      padding: 8px 0;
      color: brown;
      &:before {
        content: "";
        width: 100%;
        height: 2.5px;
        position: absolute;
        top: 0;
        left: 0;
        background: #293133;
      }
    }
  }

  &__subtitles {
    max-width: 700px;
    font-size: 16px;
  }

}

.audio-controls {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  &__recomendation {
    width: 100%;
    text-align: right;
  }

  &__item {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5px;
    width: calc(50% - 5px);

    &--btns {
      width: 100%;
      justify-content: flex-start;
    }
  }

  &__range {
    flex: 1;
  }
}
